In [2]:
import numpy as np
import pandas as pd

In [3]:
labels_list = ["Mustafa","Kemal","Atatürk","Ugur","Elya"]

In [4]:
data_list = [10,20,30,40,50]

In [5]:
pd.Series(data = data_list,index = labels_list)

Mustafa    10
Kemal      20
Atatürk    30
Ugur       40
Elya       50
dtype: int64

In [6]:
pd.Series(data_list)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [7]:
npArray = np.array([10,20,30,40,50])

In [10]:
pd.Series(npArray,labels_list)

Mustafa    10
Kemal      20
Atatürk    30
Ugur       40
Elya       50
dtype: int32

In [16]:
pd.Series(data= npArray, index = ["A","B","C","D","F"])

A    10
B    20
C    30
D    40
F    50
dtype: int32

In [17]:
dataDict = {"Kadir":30,"Kemlal":80,"Raiana":100}

In [18]:
pd.Series(dataDict)

Kadir      30
Kemlal     80
Raiana    100
dtype: int64

In [19]:
ser2017 = pd.Series([5,10,14,20],["Buğuday","Mısır","Kiraz","Erik"])

In [20]:
ser2017

Buğuday     5
Mısır      10
Kiraz      14
Erik       20
dtype: int64

In [22]:
from numpy.random import randn

In [24]:
randn(3,3)

array([[ 1.13496311, -0.18816655,  0.76374776],
       [-1.24951192,  1.45072245,  1.44386506],
       [-0.2640655 ,  0.01459775, -0.06040717]])

In [26]:
df = pd.DataFrame(data = randn(3,3),index = ["A","B","C"],columns = ["Column1","Column2","Column3"] )

In [27]:
df

    Column1   Column2   Column3
A -0.538470 -0.376973  0.282663
B  1.736293  0.210754 -2.136678
C  0.683506 -0.317202  0.984054

In [29]:
df["Column2"]

A   -0.376973
B    0.210754
C   -0.317202
Name: Column2, dtype: float64

In [30]:
type(df["Column2"])

pandas.core.series.Series

In [31]:
 df.loc["A"]

Column1   -0.538470
Column2   -0.376973
Column3    0.282663
Name: A, dtype: float64

In [32]:
df[["Column1","Column3"]]

    Column1   Column3
A -0.538470  0.282663
B  1.736293 -2.136678
C  0.683506  0.984054

In [34]:
df

    Column1   Column2   Column3
A -0.538470 -0.376973  0.282663
B  1.736293  0.210754 -2.136678
C  0.683506 -0.317202  0.984054

In [35]:
df["Column4"] = pd.Series(randn(3),["A","B","C"])

In [36]:
df

    Column1   Column2   Column3   Column4
A -0.538470 -0.376973  0.282663 -0.169700
B  1.736293  0.210754 -2.136678  0.609909
C  0.683506 -0.317202  0.984054  1.214899

In [37]:
df["Column5"] = df["Column1"] + df["Column2"] + df["Column3"] + df["Column4"]

In [38]:
df

    Column1   Column2   Column3   Column4   Column5
A -0.538470 -0.376973  0.282663 -0.169700 -0.802480
B  1.736293  0.210754 -2.136678  0.609909  0.420278
C  0.683506 -0.317202  0.984054  1.214899  2.565256

In [39]:
df.drop("Column5") #çünkü column5 yok

KeyError: "['Column5'] not found in axis"

In [42]:
df.drop("Column5",axis = 1,inplace = True)

In [43]:
df

    Column1   Column2   Column3   Column4
A -0.538470 -0.376973  0.282663 -0.169700
B  1.736293  0.210754 -2.136678  0.609909
C  0.683506 -0.317202  0.984054  1.214899

In [44]:
df["Column1"]

A   -0.538470
B    1.736293
C    0.683506
Name: Column1, dtype: float64

In [45]:
df.loc["A"]

Column1   -0.538470
Column2   -0.376973
Column3    0.282663
Column4   -0.169700
Name: A, dtype: float64

In [46]:
df.iloc[0]

Column1   -0.538470
Column2   -0.376973
Column3    0.282663
Column4   -0.169700
Name: A, dtype: float64

In [48]:
df.loc["A","Column1"]

-0.5384700098675452

In [49]:
df.loc["B","Column2"]

0.21075358360011495

In [50]:
df.loc[["A","B"],["Column1","Column2"]]

    Column1   Column2
A -0.538470 -0.376973
B  1.736293  0.210754